extends layout

block content 1
    h1 About Us
    p 
        .jumbotron
            .container
                h1 How may I help you?
                h2= title
                p Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text.
                a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
        
        p Intelligent Rickshaw Barcelona is dedicated to supporting the daily operations of rickshaws and pedicabs within the city. The basic service is available to all drivers operating within the Barcelona rickshaw community ethos.
        ul
            li List item No 1
            li List item No 2
            li List item No 3
        p Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us.
            
    
        