extends layout

block content 1
    h1 #{title} Us
    .jumbotron
        h1 InteligenteBCN is a developing software project
        h2 creating solutions using current technologies
        a.btn.btn-primary.btn-sm(href="#") Learn More &raquo;
        
    p InteligenteBCN Rickshaw is dedicated to supporting the daily operations of rickshaws and pedicabs within the city. The basic service is available to all drivers operating within the Barcelona rickshaw community ethos.

            
    
        