extends layout

block content
    .container
        .jumbotron
            .container
                h1 How may I help you?
                h2= title
                p Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text. Lots of text.
                a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
    
    .container
        h1 About Us
        p Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us.
        ul
            li List item No 1
            li List item No 2
            li List item No 3
        p Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us. Lots of text about Us.
            
    