extends layout

block content 1
    
    h1 Welcome to InteligenteBCN
    
    .jumbotron
        h2 Connecting Rickshaws
        a.btn.btn-primary.btn-sm(href="#") Learn More &raquo;
        
    .jumbotron
        h2 Connecting Customers
        a.btn.btn-primary.btn-sm(href="#") Learn More &raquo;
    
    .jumbotron
        h2 Connectivity & Security
        a.btn.btn-primary.btn-sm(href="#") Learn More &raquo;
    
    .jumbotron
        h5 Rickshaws & Riders
        a.h6(href='/rickshaws') What and who?
            
    .jumbotron
        h5  Barcelona Tours
        a.btn.btn-primary.btn-sm(href="/tours") Tours &raquo;
    
    .jumbotron
        h5  Book a Tour
        a.btn.btn-primary.btn-sm(href="/bookings") Book Now &raquo;
        
    .jumbotron
        h5  Contact Us
        a.btn.btn-primary.btn-sm(href="/contact") Contact Us &raquo;
        
    a.btn.btn-primary.btn-sm(href="/register", style="width:100%") Register With Us &raquo;
    a.btn.btn-primary.btn-sm(href="/login", style="width:100%") Members Login &raquo;        
