extends layout

block content 1
    .search-tabs-wrapper
        ul.nav.nav-tabs(role="tablist")
            li.active
                a(href="#chat" role="tab" data-toggle="tab") Chat
            li
                a(href="#profile" role="tab" data-toggle="tab") Profile
        .tab-content.search-tabs-content
            .tab-pane.active(id="chat")

                h1 Driver Chat
                div
                div.inlineBlock
                    span Your name:
                    input(type="text", value="Anonymous")#name
                    br
                    form#messageForm
                    textarea(rows="4", cols="50", placeholder="Share something!", maxlength=200)#outgoingMessage
                    input(type="button", value="Share", disabled=true)#send
                div.inlineBlock.topAligned
                b Participants
                br
                div#participants
                div#messages
            .tab-pane(id="profile")
                accusamus et iusto odio dignissimos ducimus
