extends layout

block content 1

    h3 Rickshaws and Pedicabs of Barcelona
    
    .jumbotron(id="jumboTrixi")
        .div
            .div(id="jumboText")
                h1(id="jumboH1") Trixi
                a.btn.btn-primary.btn-lg(href="http://www.trixi.com/barcelona/en") Learn More &raquo;
            .div(id="jumboImage")
                img(src='images/slide1.jpg', alt='Trixi')
            
    .jumbotron(id="jumboFunky")
        .div
            .div(id="jumboText")
                h1(id="jumboH1") FunkyCycle
                a.btn.btn-primary.btn-lg(href="http://www.trixi.com/barcelona/en") Learn More &raquo;
            .div(id="jumboImage")    
                img(src='images/slide1.jpg', alt='Trixi')
            
    .jumbotron(id="jumboPura")
        .div
            .div(id="jumboText")
                h1(id="jumboH1") Pura Vida
                a.btn.btn-primary.btn-lg(href="http://www.trixi.com/barcelona/en") Learn More &raquo;
            .div(id="jumboImage")    
                img(src='images/slide1.jpg', alt='Trixi')
            
    .jumbotron(id="jumboHappy")
        .div
            .div(id="jumboText")
                h1(id="jumboH1") Happy Pedicabs
                a.btn.btn-primary.btn-lg(href="http://www.trixi.com/barcelona/en") Learn More &raquo;
            .div(id="jumboImage")    
                img(src='images/slide1.jpg', alt='Trixi')