body {
  padding-top: 60px;
  font-family:URW Chancery L;
  
}

h1 {
	font-size:16px;
}
ul.success li, ul.failure li, ul.info li, ul.error li{
    margin:20px 0 20px 0;
}
.jumbotron {
  background:url(../images/bg.jpg) no-repeat;
  background-size:100%;
}

footer{
    background:#f4f4f4;
    height:auto;
    text-align:center;
    margin-top:30px;
    padding-top:10px;
    overflow:auto;
}

.carousel {
    width:100%;
    height:200px;   
    
}
.carousel-inner {
    width:100%;
    height:100%;
}
.carousel-caption {
    position:absolute;
    left:0px;
    top:0px;
    z-index:+1;
    width:auto;
    height:auto;
}
.carousel-inner > .item {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    z-index:-3;
}
.carousel-inner > .item > img {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    z-index:-1;
}

.carousel-caption > h3, .carousel-caption > .container > h3 {
    position:absolute;
	float:center;
	float:top;
        width:auto;
        padding:10px;
    
    
    font-size:30px;
    z-index:+2;
    color:white;
	background:black;
}
#logo {
        width: 195px;
        height: auto;
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 5px;
      }
#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

.carousel-caption >  p, .carousel-caption > .container > p  {
    position:relative;
	float:left;
	float:top;
    left:0px;
    top:0px;
    font-size:14px;
    z-index:+2;
    color:black;
}

.carousel-caption >  .container {
	
	margin:20px;    
	position:absolute;
	width:auto;
        height:auto;
    z-index:1;
float:center;
    background-color:black;
	opacity:0.5;
}
