body {
  padding-top: 40px;
  
  
}

.container {
    padding-top:20px;
}
.row{
    margin: 10px;
}
h1 {
    margin-top:0px;
    padding-top:0px;
    font-size:22px;
}
h2 {
    margin-top:0px;
    padding-top:0px;
    font-size:18px;
}
.media-left{
    width:40%;
    
}
.media-body{
    width:60%;
}
ul.success li, ul.failure li, ul.info li, ul.error li{
    margin:20px 0 20px 0;
}

.jumbotron {
  /*background:url(../images/bg.jpg) no-repeat;*/
  padding-top:10px;
  text-align:center;
  padding-bottom:10px;
  margin-bottom:10px;
border:3px;
border-color:black;
border-radius:40px;
}
.jumbotron > .div {
  background:inherit;
    display:table;
    
color:inherit;
}
#jumboText{
  width:50%;
    display:table-cell;
border:3px solid black;
text-align:center;

}

#jumboImage{
position:relative;
width:50%;
height:100%;
display:table-cell;
border:3px solid black;
margin:0px;
padding:0px;
}
#jumboImage > img{
display:show;
position:relative;
width:100%;
height:100%;
border:3px solid black;
margin:0px;
padding:0px;
}
#jumboDrivers{
padding:0px;
}

#jumboDrivers > .row{
    position:relative;
    padding:0px;
    width:100%;
    border:3px solid red;
    margin:0px;
}

#jumboTrixi{
  background:yellow;
  border:3px solid black;
border-radius:20px;
}
#jumboFunky{
  background:red;
  border:3px solid black;
border-radius:20px;
}
#jumboPura{
  background:green;
  border:3px solid black;
border-radius:20px;
}
#jumboHappy{
  background:blue;
  border:3px solid black;
border-radius:20px;
}
#jumboH1 {
margin:10px;
padding:0px;
color:black;
 width:100%; 
border:3px solid black;
text-align:center;
padding-bottom:8px;

}
#jumboImg {
max-width:100%;
height:100%;
border:3px solid black;
margin:0px;
margin-top:10px;
margin-bottom:10px;
display:block;

}
#messagesAndParts{
width:100%;
padding:0px;
    background:inherit;
    display:table;
    border:3px solid black;
}

#chatMessages{
border:0px;
padding:0px;
overflow-y:scroll;

    width:100%;
    min-height:300px;
    max-height:300px;
border:3px solid red;
text-align:left;
}
#messages{
    position:initial;
}

.row {
    width:100%;
    padding:5px;
    margin:0px
}
#chatParticipants{
    font-size:10px;
    border:0px;
    padding:0px;
    overflow-y:scroll;
    overflow-x:scroll;
    min-height:300px;
    max-height:300px;
    width:100%;
    
border:3px solid black;
}
#profilePhoto{
    width:100%;
    height:100%;
    margin:0px
}
#photo{
    width:100%;
    height:100%;
}
.media{
    background:#f4f4f4;
}
.media-left, .media-body{
    padding:10px;
}

img.media-object{
    max-width:75px;
    
}
.nav > li > a {
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
}
footer{
    background:#f4f4f4;
    height:auto;
    text-align:center;
    margin-top:30px;
    padding-top:10px;
    overflow:auto;
}

.carousel {
    width:100%;
    height:300px;   
    
}

.carousel-caption {
    width:auto;
    right:0;
    top:20px;
}
.carousel > .carousel-inner {
    height:100%;
}

.carousel > .carousel-inner > .item {
    width:100%;
    height: 100%;
    z-index:-3;
}

#cap_h3 {
    position:relative;
    padding-left: 15px;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-top: 2px;
    
    
    font-size:40px;
    z-index:+2;
    color:white;
    background:black;
}
.carousel > .carousel-inner > .item > img {
    position:absolute;
    width:100%;
    height: 100%;
    z-index:-1;
    margin: auto;
    text-align: center;
}

.col-xs-9 {
    padding:0px
}
.col-xs-3 {
    padding:0px
}

#memberTabs{
    font-size:10px
}
#logo {
        max-height: 46px;
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 5px;
      }
      
#map {
        width: 100%;
        height: 300px;
        border: 0px;
        padding-top:20px;
        padding-bottom:20px;
      }


